@font-face {
  font-family: 'TT Commons';
  src: url('../src/fonts/TT\ Commons/TTCommons-Bold.eot');
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../src/fonts/SF/SF-UI-Text-Medium.ttf');
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('../src/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('../src/fonts/Roboto/Roboto-Regular.ttf');
}

.textGrey{
  font-size: 16px;
  font-family: 'SF Pro Text';
  color: #818C99;
  margin: 0 auto;
  width: 190px;
  margin-top: 60%;
}

.textGrey .Button{
  margin-top: 10px;
  width: 216px;
  text-align: start;
}

.collectionTabs{
  margin-top: 50%;
}
.textTabsTitle{
  font-family: 'SF Pro Text';
  font-size: 17px;
  display: inline-block;
  margin-left: 20px;
  font-weight: 600;
}

.textTabs{
  font-family: 'SF Pro Text';  
  font-size: 15px;
  display: inline-block;
  margin-left: 20px;
  color: #818C99;
}

.downloadImg{
  background-color: #fff;
  border: 2px dashed #397dcb;
  margin-top: 10px;
}

.textDownload{
  margin: 0 auto;
  width: 200px;
  padding-top: 50px;
}

